.t-gradient {
  background: linear-gradient(90deg, #0037ff, #00d9ff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.t-gradient_invert {
  background: linear-gradient(90deg, #18f4ff, #0037ff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-dark {
  background-color: $dark;
}

.bg-dark-2 {
  background-color: $dark-2;
}
