@import 'tokens';
@import 'typography';
@import 'grid';
@import 'colors';
@import 'animations';
@import 'img';

.diagonal-bottom {
  &, & > * {
    position: relative;
  }

  &::before {
    content: '';
    display: inline-block;
    position: absolute;
    left: 0;
    top: -1px;
    bottom: 0;
    right: 0;
    clip-path: polygon(0% 0%, 100% 0%, 100% 60%, 0% 90%);

    @extend .bg-dark;
  }
}

.icon {
  height: 1em;
  display: inline-block;
}
